:root{
  --white:#ffffff;
  --grey:#fafafa;
  --blue:#0095f6;
}
.bg-grey{
  background-color: var(--grey);
}
.bg-light{
  background-color: var(--light) !important;
}
.navbar {
  min-height: 5rem;
}
a{
  color: var(--blue);
}
.py-6{
  padding-top: 6rem;
  padding-bottom: 6rem;

}

i.lead{
  font-size: 1.87rem;
}
.form-control:focus {
  box-shadow: none;
}
.profile-picture {
  background-image: url("fotos/foto.jpg");
  width: 3rem;
  height: 3rem;
  background-size: cover;

}
.stories-container {
  height: 190px;
  overflow-y: auto;
}
